<ion-view title="Anime" id="page4" style="">
  <ion-content padding="true" class="has-header">
    <form id="anime-form1" class="list">
      <label class="item item-input" id="anime-search1" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="Search for anime" type="search">
      </label>
      <ion-item class="item-thumbnail-left" id="anime-list-item2" ng-repeat="list in anime">
        <h2 ng-bind="list.title_english"></h2>
        <p>{{list.type}} | {{list.popularity}}</p>
      </ion-item>
    </form>
  </ion-content>
</ion-view>