<ion-view title="Home - AniList: UNOFFICIAL Mobile Application" id="page2" class="home-view">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/kXFN4yQXqy13byu66aHg_logo_anilist.png" class="logo">
    </div>
    <div class="placeholder-div">
      <i class="icon ion-image placeholder-icon"></i>
    </div>
    <ion-list id="home-list13">
      <ion-item id="home-list-item25" style="">Custom List</ion-item>
      <ion-item id="home-list-item26" style="">6+ Scoring systems</ion-item>
      <ion-item id="home-list-item27" style="">Join the community!</ion-item>
      <ion-item id="home-list-item29" style="">Tag Search</ion-item>
      <ion-item id="home-list-item28" style="">Manhua &amp; Manhwa</ion-item>
      <ion-item id="home-list-item30" style="">Coming Soon</ion-item>
    </ion-list>
    <div class="register-div">
    <h4 id="home-heading4">Latest Review</h4>
    <ion-list id="home-list14">
      <ion-item class="item-thumbnail-left" id="home-list-item31" style="">
        <h2>Review Article</h2>
        <p style="white-space:normal;">Preview of the article content</p>
      </ion-item>
    </ion-list>
    </div>
    <div class="register-div">  
    <h4 id="home-heading5">Trending Anime &amp; Manga</h4>
    <ion-list id="home-list16">
      <ion-item class="item-thumbnail-left" id="home-list-item33" style="">
        <h2>Title of Anime/Manga</h2>
      </ion-item>
    </ion-list>
    </div>
    <div class="register-div">  
    <h2 id="home-heading6">Join for free!</h2>
    </div>    
  </ion-content>
</ion-view>