<ion-view ng-init="findManga()">
  <ion-content>
    <ion-list class="list-inset">
      <div class="text-center">
        <span>{{mangadetail.title_english}}</span>
          <div class="animangadet-avatar">
            <img ng-src="{{mangadetail.image_url_lge}}">
          </div>
      </div>
      <div class="Info">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
            INFO
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)" ng-hide="!mangadetail.type">
             <div class="row char">
                <div class="col char-name">Type:</div>
                <div class="col">{{mangadetail.type}}</div>
             </div> 
          </ion-item>
          <ion-item class="item-accordion" ng-show="isGroupShown(group)" ng-hide="!mangadetail.total_episodes">
             <div class="row char">
                <div class="col char-name">Episodes:</div>
                <div class="col">{{mangadetail.total_episodes}}</div>
             </div>              
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)" ng-hide="!mangadetail.airing_status">
             <div class="row char">
                <div class="col char-name">Status:</div>
                <div class="col">{{mangadetail.airing_status}}</div>
             </div>                   
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)" ng-hide="!mangadetail.start_date">
             <div class="row char">
                <div class="col char-name">Start:</div>
                <div class="col">{{mangadetail.start_date | date:"medium"}}</div>
             </div>               
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)" ng-hide="!mangadetail.season">
             <div class="row char">
                <div class="col char-name">Season:</div>
                <div class="col">{{mangadetail.season}}</div>
             </div>               
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)" ng-hide="!mangadetail.average_score">
             <div class="row char">
                <div class="col char-name">Avg Score:</div>
                <div class="col">{{mangadetail.average_score}}%</div>
             </div>               
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)" ng-hide="!mangadetail.mean_score">
             <div class="row char">
                <div class="col char-name">Mean Score:</div>
                <div class="col">{{mangadetail.mean_score}}%</div>
             </div>               
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)" ng-hide="!mangadetail.popularity">
             <div class="row char">
                <div class="col char-name">Popularity:</div>
                <div class="col">{{mangadetail.popularity}}</div>
             </div>               
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)" ng-hide="!mangadetail.studio">
             <div class="row char">
                <div class="col char-name">Main Studio:</div>
                <div class="col">{{mangadetail.studio.studio_name}}</div>
             </div>               
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)" ng-hide="!mangadetail.duration">
             <div class="row char">
                <div class="col char-name">Duration:</div>
                <div class="col">{{mangadetail.duration}} mins.</div>
             </div>               
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)" ng-hide="!mangadetail.genres">
             <div class="row char">
                <div class="col char-name">Genres:</div>
                <div class="col">
                    <div class="row" ng-repeat="genre in mangadetail.genres">{{genre}}</div>
                </div>
             </div>               
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)" ng-hide="!mangadetail.hashtag">
             <div class="row char">
                <div class="col char-name">Hashtag:</div>
                <div class="col">{{mangadetail.hashtag}}</div>
             </div>              
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)" ng-hide="!mangadetail.title_romaji">
             <div class="row char">
                <div class="col char-name">Romaji:</div>
                <div class="col">{{mangadetail.title_romaji}}</div>
             </div>               
             
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)" ng-hide="!mangadetail.title_english">
             <div class="row char">
                <div class="col char-name">English:</div>
                <div class="col">{{mangadetail.title_english}}</div>
             </div>               
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)" ng-hide="!mangadetail.title_japanese">
             <div class="row char">
                <div class="col char-name">Japanese:</div>
                <div class="col">{{mangadetail.title_japanese}}</div>
             </div>               
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)" ng-hide="!mangadetail.synonyms">
             <div class="row char">
                <div class="col char-name">Synonyms:</div>
                <div class="col">
                    <div class="row" ng-repeat="synonym in mangadetail.synonyms">{{synonym}}</div> 
                </div>
             </div>               
          </ion-item>
        </div>
        <div class="Tags">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <!-- <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp; -->
            TAGS
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)" ng-repeat="tag in mangadetail.tags">
              <div class="row charp calm">
                <div class="col col-75">{{tag.name}}</div>
                <div class="col">{{tag.votes}}%</div>  
              </div>
              <div class="row char">{{tag.description}}</div>
          </ion-item>
        </div>
        <div class="Desc">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <!-- <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp; -->
            DESCRIPTION
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)">
              <div class="row char">
                  {{mangadetail.description}}
              </div>
          </ion-item>
        </div>
        <div class="rel">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <!-- <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp; -->
            RELATIONS
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)" ng-repeat="relation in mangadetail.relations">
              <div class="row char">
                <div class="col char-name">{{relation.relation_type}}</div>
                <div class="col">{{relation.title_romaji}}</div>  
              </div>
          </ion-item>
        </div>
        <div class="rel">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <!-- <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp; -->
            CHARACTERS
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)" ng-repeat="character in mangadetail.characters">
            <div class="row char">
                <div class="col">    
                <img class="img-char" ng-src="{{character.image_url_med}}">
                <div class="row">
                    <div class="col calm">{{character.name_first}} {{character.name_last}}</div>
                </div>                
                </div>
                <div class="col" ng-repeat="actor in character.actor">    
                <img class="img-char" ng-src="{{actor.image_url_med}}">
                <div class="row">
                    <div class="col">{{actor.name_first}} {{actor.name_last}}</div>
                </div>                
                </div>                
            </div>           
          </ion-item>
        </div>
        <div class="staff">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <!-- <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp; -->
            STAFF
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)" ng-repeat="staff in mangadetail.staff">
            <div class="row char">
                <div class="col">    
                <img class="img-char" ng-src="{{staff.image_url_med}}">
                <div class="row">
                    <div class="col">{{staff.name_first}} {{staff.name_last}}</div>
                </div>                
                </div>                
            </div>
          </ion-item>
        </div>
        <div class="rank">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <!-- <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp; -->
            RANKINGS
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)" ng-repeat="rank in mangadetail.rankings">
              <div class="row char">
                <div class="col">#{{rank.rank}} {{rank.type_string}}</div>
              </div>
          </ion-item>
        </div>
        <div class="scoredis">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <!-- <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp; -->
            SCORE DISTRIBUTION
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)">
            <div id="bar-chart" class="padding">
              <canvas id="bar" class="chart chart-bar" chart-data="bar.data" chart-labels="bar.labels" chart-series="bar.series"></canvas>
            </div>
          </ion-item>
        </div>
        <div class="users">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <!-- <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp; -->
            USERS
          </ion-item>
          <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)">
             <div id="bar-chart" class="padding">
                <canvas id="pie" class="chart chart-pie" chart-data="pie.data" chart-labels="pie.labels" chart-series="pie.series">
                </canvas> 
              </div>
          </ion-item>
        </div>
    </ion-list>
  </ion-content>
</ion-view>