<ion-view title="Home" id="page2" style="background-color: rgb(56, 76, 132);">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/kXFN4yQXqy13byu66aHg_logo_anilist.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <ion-list id="home-list13">
      <ion-item id="home-list-item25" style="">Custom List</ion-item>
      <ion-item id="home-list-item26" style="">6+ Scoring systems</ion-item>
      <ion-item id="home-list-item27" style="">Join the community!</ion-item>
      <ion-item id="home-list-item29" style="">Tag Search</ion-item>
      <ion-item id="home-list-item28" style="">Manhua &amp; Manhwa</ion-item>
      <ion-item id="home-list-item30" style="">Coming Soon</ion-item>
    </ion-list>
    <h4 id="home-heading4" style="color: rgb(236, 236, 236); font-weight: 600; text-align: center;">Latest Review</h4>
    <ion-list id="home-list14">
      <ion-item class="item-thumbnail-left" id="home-list-item31" style="">
        <h2>Review Article</h2>
        <p style="white-space:normal;">Preview of the article content</p>
      </ion-item>
    </ion-list>
    <h4 id="home-heading5" style="color: rgb(236, 236, 236); font-weight: 600; text-align: center;">Trending Anime &amp; Manga</h4>
    <ion-list id="home-list16">
      <ion-item class="item-thumbnail-left" id="home-list-item33" style="">
        <h2>Title of Anime/Manga</h2>
      </ion-item>
    </ion-list>
    <h2 id="home-heading6" style="color: rgb(236, 236, 236); font-weight: 600; text-align: center;">Join for free!</h2>
  </ion-content>
</ion-view>