<ion-view title="Manga" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <form id="manga-form5" class="list">
      <label class="item item-input" id="manga-search2" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="Search for manga" type="search">
      </label>
      <ion-item class="item-thumbnail-left" id="manga-list-item7" style="">
        <h2>Title of Manga</h2>
        <p>Type | Rating</p>
      </ion-item>
    </form>
  </ion-content>
</ion-view>