/*body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}*/

.home-view {
    background-color: rgb(56, 76, 132);
}

.logo {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.placeholder-div {
    margin: 0px;
    line-height: 250px;
    background-color: rgb(232, 235, 239);
    text-align: center;
}

.placeholder-icon {
    font-size: 64px;
    color: rgb(136, 136, 136);
    vertical-align: middle;
}

.register-div {
    padding: 1px 5% 5% 5%; 
}

.register-div > h4 {
    color: rgb(236, 236, 236);
    font-weight: 600;
    text-align: center;
}

.register-div > h2 {
     color: rgb(236, 236, 236);
    font-weight: 600;
    text-align: center;
}
/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}