/*body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}*/

.home-view {
    background-color: rgb(56, 76, 132);
}

.placeholder-div > .logo-placeholder > h4 {
    color: #fff;
    margin: none;
}

.logo {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.logo-placeholder {
    padding: 10% 5%;
    background-color: rgb(24, 31, 41);
    background:url(/img/reg_bg.jpg);
    background-repeat:repeat-y;
    background-size:100% 100%;
    background-position:center;    
}

.placeholder-div {
    margin: 0px;
    line-height: 250px;
    background-color: rgb(232, 235, 239);
    text-align: center;
}

.placeholder-icon-home {
    font-size: 64px;
    color: rgb(136, 136, 136);
    vertical-align: middle;
}

.register-div {
    padding: 1px 1% 1% 1%; 
}

.register-div > h4 {
    color: #02a9ff;
    font-weight: 600;
    text-align: center;
}

.register-div > h2 {
     color: rgb(236, 236, 236);
    font-weight: 600;
    text-align: center;
}

.char {
    font-size: .8em;
}

.char-name {
    color: #02a9ff;
}

.feature-div {
    color: #fff;
    white-space: normal;
    line-height: normal;
}

.countdown-div {
    color: #02a9ff;
    white-space: normal;
    line-height: normal;
    font-weight: bold;    
}

/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.platform-ios .manual-ios-statusbar-padding{
        padding-top:20px;
      }
      .manual-remove-top-padding{
        padding-top:0px; 
      }
      .manual-remove-top-padding .scroll{
        padding-top:0px !important;
      }
      ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
        margin-left:-10px;
        margin-right:-10px;
      }
      ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
        border-radius:0px;
        border-left:0px;
        border-right: 0px;
      }
      .show-list-numbers-and-dots ul{
        list-style-type: disc;
        padding-left:40px;
      }
      .show-list-numbers-and-dots ol{
        list-style-type: decimal;
        padding-left:40px;
      }
      .animangadet-avatar > img {
        height: 292px;
        width: 202px;
      }
      .animangadet-avatar {
        display: block;
        margin: 0 auto;
      }